.navbar{

    display: flex;
   align-items: right;
   justify-content: right;
   background-color: dodgerblue;
   justify-items: center;
   
   
}

.navbar a{

    padding: 0px 20px 0px 0px;
    color: white  ;
    margin: 0px 0px 20px 0px;
}

.thesection{

    background-image: url(../images/viajes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 520px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back{
   

}

.search{

    background-image: url(../images/search.png);
    background-size: cover;
    height: 40px;
    width: 40px;
    margin-bottom: 10px
   
    
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkblue;
    color: white;
    text-align: center;
  }

  .images{

    display: flex;
    align-items: center;
    justify-content: space-between;
    size: 30px;
  }


input{

    height: 30px;
    width: 700px;
}

@media only screen and (max-width: 600px) {
    .images{
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        
    }
  }

  @media only screen and (max-width: 400px) {
    .images{
       display: flex;
       flex-direction: column-reverse;
       align-items: center;
       

    }

    i{
        padding-top: 40px;
    }
  }